<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erfolgreich gespeichert</title>
</head>
<body>
    <style>
        .text{
            text-align: center;
        }

        .bild{
            margin: auto;
            display: block;
            height: 500px;
            width: 500px;
        }
    </style>

    <div class="text">
        <fieldset>
            <p>Ihre Daten wurden Erfolgreich gespeichert</p>
        </fieldset>
    </div>
    <img class="bild" src="https://media.istockphoto.com/id/1094780808/de/vektor/genehmigung-symbol-h%C3%A4kchen-im-kreis-von-hand-gezeichnet-vector-gr%C3%BCnes-schild-ok-genehmigung.jpg?s=612x612&w=0&k=20&c=4elEudkuVKKZXoXX5L2M7E5KGWcQx8nqI1zyZuTr8rQ=">
</body>
</html>