<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleGespeichert.css">
    <title>Erfolgreich gespeichert</title>
</head>

<body>
    <div class="container">
        <div class="text">
            <fieldset>

                <p>Your password has been reset successfully</p>

            </fieldset>
        </div>
        <img class="bild"
            src="https://media.istockphoto.com/id/1094780808/de/vektor/genehmigung-symbol-h%C3%A4kchen-im-kreis-von-hand-gezeichnet-vector-gr%C3%BCnes-schild-ok-genehmigung.jpg?s=612x612&w=0&k=20&c=4elEudkuVKKZXoXX5L2M7E5KGWcQx8nqI1zyZuTr8rQ=">

        <a href="index.html"><button class="backHome" type="submit">back Home</button></a>
    </div>
</body>

</html>